


<div><a href="/arrangeKali/">/arrangeKali/</a></div>
<div><a href="/arrangeKali/api/v1/">/arrangeKali/api/v1/</a></div>
<div><a href="/arrangeKali/api/v1/get_points_list/arrangeId">/arrangeKali/api/v1/get_points_list/{arrangeId}</a>&nbsp;
    Получить плоский список с результатами для запроса с "arrangeId" </div>
<div><a href="/arrangeKali/api/v1/postArrangeOrder/">/arrangeKali/api/v1/postArrangeOrder/</a>&nbsp;
    Получить плоский список с результатами для запроса с "arrangeId" <br>
    targetArea:<br>
    targetDistrict: <br>
    targetDoorstep:  доступность<br>
    targetCoverage:  охват населения всей Москвы в %<br>
    targetPostsNumber:  целевое количество постаматов<br>

</div>
<div><a href="/arrangeKali/api/v1/arrangeOrderStatus/{arrangeId}">/arrangeKali/api/v1/arrangeOrderStatus/{arrangeId}</a>&nbsp;
    Получить статус размещенного задания с "arrangeId" <br>
    ready:<br>
    inProcess: <br>
    except:
</div>
<div><a href="/arrangeKali/api/v1/get_points_list/arrangeId">/arrangeKali/api/v1/get_points_list/{arrangeId}</a>&nbsp;
    Получить плоский список с результатами для запроса с "arrangeId" </div>
<div><a href="/arrangeKali/api/v1/get_points_collection/arrangeId/bb/zz">/arrangeKali/api/v1/get_points_collection/{arrangeId}/bb/zz</a>&nbsp;
    Получить точки в вижде списка геоданных для карты с "arrangeId" в боксе bb зума zz</div>
